<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Applications Page</title>
    <script>
        <!-- todo change all these. -->
        function toggleDetails(jobId) {
            let el = document.getElementById(jobId + '-description')
            if (el.style.display === 'none') {
                el.style.display = 'block'
            } else {
                el.style.display = 'none'
            }
        }

        function markSaved(jobId) {
            fetch("/userJob/" + jobId + "/saved")
            // TODO Color green.
            let el = document.getElementById(jobId)
            el.style.backgroundColor = '#99ff99'
        }

        function markUnwanted(jobId) {
            fetch("/userJob/" + jobId + "/unwanted")
            // Hide job or color red now to show unwanted.
            let el = document.getElementById(jobId)
            el.style.display = 'none'
        }

        <%
        // Given a set of statuses show color.
        function getJobColor(status) {
            if (status === 'saved') {
                return 'background-color: #99ff99'
            } else if (status === 'unwanted') {
                return 'background-color: #ff9999'
            }

            return 'background-color: aquamarine'
        }
        %>
    </script>
</head>


<%- include('partials/header') %>
<h1>Applications Plus Results</h1>

All your current (<%= applications.length %>) applications: <br>


<style>
    th {
        background-color: deepskyblue;
        border: 1px solid black;
        font-weight: bold;
    }

    td {
        border: 1px solid black;
    }

    tr:nth-child(even) {
        background-color: lightgrey;
    }

    table {
        border-collapse: collapse;
    }
</style>

<!--TODO setup filters to only show current job applications-->

<table>
    <tr>
        <th> Num</th>
        <th> Applied Date</th>
        <th> Status</th>
        <th> Actions</th>
        <th> Title</th>
        <th> Company</th>
        <th> Market</th>
        <th> Main Tech</th>
        <th> Salary</th>
        <th> Location</th>
        <th> Remote?</th>
        <th> Interview Date</th>
        <th> Site found</th>
        <th> Notes</th>
        <th> Job Url</th>
    </tr>

    <%
    applications.forEach((application, index)=> {
        const job = application.job
    %>
    <tr valign="top">
        <td> <%= index+1 %>.</td>
        <td>
            <%
                var date = application?.applicationDate.toISOString().split('T')[0]
            %>
            <%= date %>
        </td>
        <td> <%= application?.status %>
            <!--            TODO pull down changable list here for statuses-->
        </td>
        <td>
            <!--            TODO buttons for adding actiions-->
        </td>
        <td> <%= job?.title %>

            <a href="javascript:void(0);" onClick="toggleDetails('<%= job.id %>')">
                Show Details</a>
            <div id="<%= job.id + '-description' %>" style="display: none">
                <%- job.description %>
            </div>

        </td>
        <td> <%= job?.company %> </td>
        <td> <%= job?.companySector %> </td>
        <td></td>
        <td>
            <nobr> $<%= job.salaryMin?.toLocaleString() %> to $<%= job.salaryMax?.toLocaleString() %> </nobr>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td> Notes:</td>
        <td><a href="<%= job?.link %>" target="_blank">Job Link</a></td>
        <!--        todo link or popout to full job desc -->
    </tr>

    <!-- todo loop over any applicationActions now to show full history. -->

    <%
    })
    %>
</table>

<%- include('partials/footer') %>
</body>

</html>