<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Applications Page</title>


    <style>
        th {
            background-color: deepskyblue;
            border: 1px solid black;
            font-weight: bold;
        }

        td {
            border: 1px solid black;
        }

        tr:nth-child(even) {
            background-color: lightgrey;
        }

        table {
            border-collapse: collapse;
        }
    </style>    <script>
        <!-- todo change all these. -->
        function toggleDetails(jobId) {
            let el = document.getElementById(jobId + '-description')
            if (el.style.display === 'none') {
                el.style.display = 'block'
            } else {
                el.style.display = 'none'
            }
        }

        function markSaved(jobId) {
            fetch("/userJob/" + jobId + "/saved")
            // TODO Color green.
            let el = document.getElementById(jobId)
            el.style.backgroundColor = '#99ff99'
        }

        function markUnwanted(jobId) {
            fetch("/userJob/" + jobId + "/unwanted")
            // Hide job or color red now to show unwanted.
            let el = document.getElementById(jobId)
            el.style.display = 'none'
        }

        function changeStatus(applicationId, e) {
            fetch("/application/" + applicationId + "/" + e.value)

            // Hide application or color red now to show unwanted.
            // let el = document.getElementById(jobId)
            // el.style.display = 'none'
        }

        <%
        // Given a set of statuses show color.
        function getApplicationColor(status) {
            if (status === 'companydeclined') {
                return 'background-color: #ffabab'
            } else if (status === 'userdeclined') {
                return 'background-color: #ffabab'
            }

            return ''
        }
        %>
    </script>

</head>


<%- include('partials/header') %>
<h1>Applications Plus Results</h1>

<form action="applications" method="post">
    Filters:

    <fieldset style="display: inline-block;">
        <legend>Status:</legend>

        <div>
            <input type="checkbox" id="allStatusFilter" name="allStatusFilter"
                   value="checked" <%= allStatusFilter ? 'checked' : '' %> >
            <label for="appliedFilter">All Status</label>
        </div>

        <div>
            <input type="checkbox" id="appliedStatusFilter" name="appliedStatusFilter"
                   value="checked" <%= appliedStatusFilter ? 'checked' : '' %> >
            <label for="appliedFilter">Applied Status</label>
        </div>

        <div>
            <input type="checkbox" id="userDeclinedStatusFilter" name="userDeclinedStatusFilter"
                   value="checked" <%= userDeclinedStatusFilter ? 'checked' : '' %> >
            <label for="appliedFilter">User Declined</label>
        </div>

        <div>
            <input type="checkbox" id="companyDeclinedStatusFilter" name="companyDeclinedStatusFilter"
                   value="checked" <%= companyDeclinedStatusFilter ? 'checked' : '' %> >
            <label for="appliedFilter">Company Declined</label>
        </div>

    </fieldset>

    <input type="submit" value="search">

</form>

All your current (<%= applications.length %>) applications: <br>


Stats: $<%= avgSalaryMin.toLocaleString() %> to $<%= avgSalaryMax.toLocaleString() %>
Med: $<%= (Math.round((avgSalaryMin + avgSalaryMax) / 2 / 1000) * 1000).toLocaleString() %>
<table>
    <tr>
        <th> Num</th>
        <th> Applied Date</th>
        <th> Status</th>
        <th> Title</th>
        <th> Company</th>
        <th> Market</th>
        <th> Main Tech</th>
        <th> Salary</th>
        <th> Location</th>
        <th> Remote?</th>
        <th> Interview Date</th>
        <th> Site found</th>
        <th> Notes</th>
        <th> Job Url</th>
    </tr>

    <%
    applications.forEach((application, index)=> {
        const job = application.job
    %>
    <tr valign="top" style=" <%= getApplicationColor(application?.status); %>;">
        <td> <%= index + 1 %>.</td>
        <td>
            <%
                var date = application?.applicationDate.toISOString().split('T')[0]
            %>
            <%= date %>
        </td>
        <td> <%= application?.status %>
            <select name="status" onChange="changeStatus('<%= application?._id %>',this)">
                <option value=""></option>
                <option value="companydeclined">Company declined</option>
                <option value="userdeclined">User declined</option>
            </select>
        </td>
        <td> <%= job?.title %>

            <a href="javascript:void(0);" onClick="toggleDetails('<%= job.id %>')">
                Show Details</a>
            <div id="<%= job.id + '-description' %>" style="display: none">
                <%- job.description %>
            </div>

        </td>
        <td> <%= job?.company %> </td>
        <td> <%= job?.companySector %> </td>
        <td></td>
        <td>
            <nobr> $<%= job.salaryMin?.toLocaleString() %> to $<%= job.salaryMax?.toLocaleString() %> </nobr>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td> Notes:</td>
        <td><a href="<%= job?.link %>" target="_blank">Job Link</a></td>
        <!--        todo link or popout to full job desc -->
    </tr>

    <!-- todo loop over any applicationActions now to show full history. -->

    <%
    })
    %>
</table>

<%- include('partials/footer') %>
</body>

</html>