<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Jobs Page</title>
</head>

<body>
    <%- include('partials/header') %>
    <h1>Jobs Page</h1>

All current Jobs:
    <% jobs.forEach((job)=> { %>
            <h2>
                <%= job.title %>
            </h2>
            <p>
                Company: <%= job.company %>
                Salary: <%= job.salary %>
            </p>
    <% }) %>


    Tagline:
    <%= tagline %>



    <%- include('partials/footer') %>
</body>

</html>