<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Jobs Page</title>
</head>

<body>
<%- include('partials/header') %>
<h1>Jobs Plus Results</h1>

<form action="jobs" method="post">
    Search: <input name="search">
    <input type="submit" value="Search">
</form>

All (<%= totalCount?.toLocaleString() %>) Found Jobs for title search: <%= search %>
<% jobs.forEach((job, index)=> { %>
    <h2>
        <%= index + 1 %>. <%= job.title %>
    </h2>
    <p>
        Company: <%= job.company %> - todo sector
        Link: <a href="<%= job.link %>" target="_blank">LINK</a> -
        Salary: $<%= job.salaryMin?.toLocaleString() %> to $<%= job.salaryMax?.toLocaleString() %> yearly.
    </p>
<% }) %>


<%- include('partials/footer') %>
</body>

</html>